<div class="reveal">

	<!-- Used to fade in a background when a specific slide state is reached -->
	<div class="state-background"></div>

	<!-- Any section element inside of this container is displayed as a slide -->
	<div class="slides">
		<section>
			<h1>elasticsearch</h1>
			<h3 class="inverted">Topics</h3>
			<ul>
				<li>Installation</li>
				<li>Defining indexes</li>
				<li>Common queries</li>
				<li>Facests</li>
			</ul>
			<script>
				// Delicously hacky. Look away.
				if( navigator.userAgent.match( /(iPhone|iPad|iPod|Android)/i ) ) document.write( '<p style="color: rgba(0,0,0,0.3); text-shadow: none;">('+'Tap to navigate'+')</p>' );
			</script>
		</section>

		<section>
			<h2>Installation</h2>
			<ol>
				<li>Download and unzip the latest Elasticsearch distribution</li>
				<li>Run bin/elasticsearch -f on Unix,
or bin/elasticsearch.bat on Windows</li>
				<li>Run curl -X GET http://localhost:9200/</li>
			</ol>

		</section>

		<!-- Example of nested vertical slides -->
		<section>
			<section>
				<h2>Conceptos básicos de ElasticSearch</h2>
				<ul>
					<li>Index</li>
					<li>Document</li>
					<li>Document type</li>
					<li>Node and cluster</li>
					<li>Shard</li>
					<li>Replica</li>
				</ul>
			</section>
			<section>
				<h2>Definición de Índices</h2>
				<p>Sin especificar mapeo a un tipo de documento específico</p>
				<pre><code contenteditable style="font-size: 18px; margin-top: 20px;">
Tire.index 'articles' do
  delete
  create

  store :title => 'One',   :tags => ['ruby']
  store :title => 'Two',   :tags => ['ruby', 'python']
  store :title => 'Three', :tags => ['java']
  store :title => 'Four',  :tags => ['ruby', 'php']

  refresh
end
			</code></pre>
			</section>
			<section>
				<h2>Creación de índice</h2>
				<p>En este caso se especifica el mapeo personalizado para un tipo de documento</p>
				<pre><code contenteditable style="font-size: 18px; margin-top: 20px;">
Tire.index 'articles' do
  delete

  create :mappings => {
    :article => {
      :properties => {
        :id       => { :type => 'string', :index => 'not_analyzed', :include_in_all => false },
        :title    => { :type => 'string', :boost => 2.0,            :analyzer => 'snowball'  },
        :tags     => { :type => 'string', :analyzer => 'keyword'                             },
        :content  => { :type => 'string', :analyzer => 'snowball'                            }
      }
    }
  }
end
			</code></pre>
			</section>
			<section>
				<h2>Bulk storage</h2>
				<p>Si tenemos grandes cantidades de datos, podemos agregarlos al índice de la siguiente manera:</p>
				<pre><code contenteditable style="font-size: 18px; margin-top: 20px;">
articles = [
  { :id => '1', :type => 'article', :title => 'one',   :tags => ['ruby']           },
  { :id => '2', :type => 'article', :title => 'two',   :tags => ['ruby', 'python'] },
  { :id => '3', :type => 'article', :title => 'three', :tags => ['java']           },
  { :id => '4', :type => 'article', :title => 'four',  :tags => ['ruby', 'php']    }
]

Tire.index 'articles' do
  import articles
end
			</code></pre>
			</section>
			<section>
				<h2>Preprocesamiento en la importación</h2>
				<p>Los datos pueden ser pre-procesados antes de almacenarlos en el índice</p>
				<pre><code contenteditable style="font-size: 18px; margin-top: 20px;">
Tire.index 'articles' do
  import articles do |documents|

    documents.each { |document| document[:title].capitalize! }
  end

  refresh
end
      </code></pre>
      </section>
      <section>
        <h2>Agregar y borrar un documento</h2>

        <p>Agregar:</p>
        <pre><code contenteditable style="font-size: 18px; margin-top: 20px;">
index = Tire.index 'articles'
index.store type: self.class.name.downcase, id: id, title: title,
      tags: tag_list, created_at: created_at, content: content
      </code></pre>
        <p>Borrar:</p>
        <pre><code contenteditable style="font-size: 18px; margin-top: 20px;">
Tire.index(INDEX_NAME).remove( DOCUMENT_TYPE, DOCUMENT_ID )
      </code></pre>

      </section>

    </section>

    <section>
      <h2>Queries </h2>
      <p>Consultas con facets:</p>
      <pre><code contenteditable style="font-size: 18px; margin-top: 20px;">
s = Tire.search 'articles' do
  query do
    string 'title:T*'
  end

  filter :terms, :tags => ['ruby']

  sort { by :title, 'desc' }

  facet 'global-tags', :global => true do
    terms :tags
  end

  facet 'current-tags' do
    terms :tags
  end
end
      </code></pre>

		</section>

    <section>
      <p>mostrando los resultados</p>

      <pre><code contenteditable style="font-size: 18px; margin-top: 20px;">
s.results.facets['global-tags']['terms'].each do |f|
  puts "#{f['term'].ljust(10)} #{f['count']}"
end

# ruby       3
# python     1
# php        1
# java       1
      </code></pre>
    </section>

    <section>
      <h2>Queries </h2>
      <p>Consultas booleanas</p>
      <pre><code contenteditable style="font-size: 18px; margin-top: 20px;">
Tire.search 'articles' do
  query do
    boolean do
      should   { string 'tags:ruby' }
      should   { string 'tags:java' }
      must_not { string 'tags:python' }
    end
  end
end
      </code></pre>


    </section>

    <section>
<p>Usando Active model Integration</p>
      <pre><code contenteditable style="font-size: 18px; margin-top: 20px;">
class Article < ActiveRecord::Base
  include Tire::Model::Search
  include Tire::Model::Callbacks

  Article.search do
    query             { string 'love' }
    facet('timeline') { date   :published_on, :interval => 'month' }
    sort              { by     :published_on, 'desc' }
  end
  mapping do
    indexes :id,           :index    => :not_analyzed
    indexes :title,        :analyzer => 'snowball', :boost => 100
    indexes :content,      :analyzer => 'snowball'
    indexes :content_size, :as       => 'content.size'
    indexes :author,       :analyzer => 'keyword'
    indexes :published_on, :type => 'date', :include_in_all => false
  end
end
      </code></pre>
    </section>

		<section>
			<h2>Muchas gracias</h2>
			<p>
				github: https://github.com/EmanuelCadems/es-lw
      </p>
      <p>
        https://github.com/EmanuelCadems/slide-es
      </p>
		</section>

	</div>

	<!-- The navigational controls UI -->
	<aside class="controls">
		<a class="left" href="#">&#x25C4;</a>
		<a class="right" href="#">&#x25BA;</a>
		<a class="up" href="#">&#x25B2;</a>
		<a class="down" href="#">&#x25BC;</a>
	</aside>

	<!-- Displays presentation progress, max value changes via JS to reflect # of slides -->
	<div class="progress"><span></span></div>

</div>





